#-Djava.util.logging.config.file=tests\logging.config
#handlers = java.util.logging.FileHandler
#handlers = java.util.logging.ConsoleHandler

java.util.logging.FileHandler.pattern   = tests/log%u.log
java.util.logging.FileHandler.formatter = org.jsl.collider.LogFormatter

java.util.logging.ConsoleHandler.formatter = org.jsl.collider.LogFormatter
java.util.logging.ConsoleHandler.level = ALL

org.jsl.collider.Collider.level = FINE
org.jsl.collider.Acceptor.level = FINE
org.jsl.collider.Session.level  = FINE
